{% extends 'base.html' %}

{% block title %}
   Контакты
{% endblock %}

{% block content %}

       <div class="background"></div>
         <div class="content">
            <h1>Контактная информация</h1><hr>
            <p>Телефон: +7 (123) 456-78-90<br>
            Email: info@example.com</p><br>
            <div class="social-icons">
                <a href="#"><i class="fab fa-telegram">telegram</i></a>
                <a href="#"><i class="fab fa-whatsapp">whatsapp</i></a>
                <a href="#"><i class="fab fa-viber">viber</i></a>
                <a href="#"><i class="fab fa-instagram">instagram</i></a>
            </div>
         </div>

{% endblock %}